body {
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
}

.examples-div {
  margin-left: 3rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 200px;
}

.individual-examples {
  margin-right: 10rem;
}

#rotate-20 {
  transform: rotate(20deg);
}

#rotate-90 {
  transform: rotate(90deg);
}

#rotate-180 {
  transform: rotate(180deg);
}

#rotate-275 {
  transform: rotate(275deg);
}

#scaleX {
  transform: scaleX(0.25);
}

#scaleY {
  transform: scaleY(1.5);
}

#scaleXY {
  transform: scaleXY(0.25, 1.2);
}

#skewX {
  transform: skewX(45deg);
}

#skewY {
  transform: skewY(0.6rad);
}

#skewXY {
  transform: skewXY(45deg, 75deg);
}

#skew {
  transform: skew(45deg);
}

.translate-div {
  height: 100px;
  width: 100px;
  border: 1px solid black;
}

#translateX {
  transform: translateX(60px);
}

#translateY {
  transform: translate(40px);
}

#translateXY {
  transform: translate(50px, 50px);
}

#rotateX {
  transform: rotateX(60deg);
}

#rotateY {
  transform: rotateY(60deg);
}

#rotateXY {
  transform: rotateZ(60deg);
}

#image-angle-view {
  transform: rotateZ(-25deg) rotateY(45deg) translateY(50px) translateX(100px);
}

#transition-button {
  margin: 3rem;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  background-color: white;
  color: white;
  transition: background-color 1s ease-out 0.2s;
}

#transition-button:hover {
  background-color: black;
  cursor: pointer;
}

/* IMPORTANT: Position set to relative to remove div from document flow. */
.z-container {
  margin: 3rem;
  padding: 0;
  border: 1px solid black;
  height: 300px;
  width: 300px;
  position: relative;
  background-color: rgb(255, 165, 130);
}

#blue-box,
#red-box,
#green-box {
  margin: 0;
  padding: 0;
  height: 150px;
  width: 150px;
  border: 1px solid black;
}

/* Child elements are then set to absolute for placment. */

#blue-box {
  z-index: 3;
  background-color: rgb(0, 128, 255);
  position: absolute;
  transform: translateY(60px) translateX(60px) rotateZ(45deg);
}

#red-box {
  z-index: 2;
  background-color: rgb(242, 0, 57);
  position: absolute;
  transform: rotateY(45deg) translateY(60px) translateX(220px);
}

#green-box {
  z-index: 1;
  background-color: rgb(79, 128, 0);
  position: absolute;
  transform: rotateX(45deg) translateY(220px) translateX(15px);
}

.large-painting {
  margin: 3rem;
  padding: 0;
  border: 1px solid black;
  height: 500px;
  width: 700px;
  position: relative;
}

#blue-box-background {
  z-index: 4;
  background-color: rgb(1, 71, 141);
  position: absolute;
  height: 300px;
  width: 400px;
  transform-origin: top left;
}

#red-box-background {
  z-index: 4;
  background-color: rgb(134, 1, 32);
  position: absolute;
  height: 400px;
  width: 300px;
  transform-origin: top left;
  transform: translateX(400px);
}

#green-box-background {
  z-index: 4;
  background-color: rgb(79, 128, 0);
  position: absolute;
  height: 200px;
  width: 400px;
  transform-origin: top left;
  transform: translateY(300px);
}

#yellow-box-background {
  z-index: 4;
  background-color: rgb(141, 141, 2);
  position: absolute;
  height: 100px;
  width: 300px;
  transform-origin: top left;
  transform: translateY(400px) translateX(400px);
}
